<mat-form-field class="filterTable">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
        <ng-container [ngSwitch]="tableData">
          <ng-container *ngSwitchDefault>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-label>{{ columnHeader[tableData] }}</mat-label>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element[tableData] }}
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'actions'">
            <th mat-header-cell *matHeaderCellDef> 
              <mat-label>{{columnHeader[tableData]}}</mat-label>
            </th>
            <td mat-cell *matCellDef="let element">
              <a class="cursorPointer" (click)="executeAction('edit', $event, element)">
                <mat-icon *ngIf="tableConfig.canEdit" matTooltip="Editar">edit</mat-icon>
              </a>
              <a class="cursorPointer" (click)="executeAction('delete', $event, element)">
                <mat-icon *ngIf="tableConfig.canRemove" matTooltip="Eliminar">delete</mat-icon>
              </a>
              <a class="cursorPointer" (click)="executeAction('showDetail', $event, element)">
                <mat-icon *ngIf="tableConfig.canShowDetail" matTooltip="Detalles">visibility</mat-icon>
              </a>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
      <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>